#Eclipse
.project
.classpath
.metadata
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.loadpath
*.pydevproject
.springBeans
.recommenders/

# Intellij
.idea/
*.iml
*.iws


#Gradle
.idea/gradle.xml
.idea/libraries


#Maven
test-output/
target/
build/
output/
dependency-reduced-pom.xml
*.class
*.jar
*.swp
*.log


#Fortify
.fpr


#log
log/
logs/

*.orig
*.sublime-project
*.tern-project

#Node.js
node_modules/


#linux
*~
.fuse_hidden*
.directory
.Trash-*


# Mac
.DS_Store


*.stackdump

#Project Specific
profiles/local/filter.properties
*.jks

